<h1>Profile for <%= current_user.name %></h1>

<section class="user-profile">
  <p><%= current_user.email %></p>
</section>

<%= link_to 'Change Password', '/profile/edit_password' %>
<%= link_to 'Edit', '/profile/edit' %>

<%= link_to 'My Orders', '/profile/orders' %>

<% if !current_admin? %>
  <section class='addresses'>
    <% current_user.addresses.each do |address| %>
      <section id="address-<%= address.id %>">
        <p>Name: <%= address.nickname %></p>
        <p><%= address.address %></p>
        <p><%= address.city %> <%= address.state %>, <%= address.zip %></p>
      </section>
    <% end %>
  </section>
<% end %>
